.bannerBg{
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.95)), url('../../assets/bannerBg.png');
    background-repeat: no-repeat;
    background-size: cover;
    
}